useDynLib(RSienaTest)
export(coCovar, coDyadCovar, getEffects, model.create, print01Report,
       siena01Gui, siena07, sienaCompositionChange, sienaBayes, glueBayes,
       simpleBayesTest, multipleBayesTest, updateTheta,
       sienaCompositionChangeFromFile, sienaDataCreate, 
	   sienaDataCreateFromSession, sienaGroupCreate, sienaModelCreate, 
	   sienaAlgorithmCreate, sienaNet,
       sienaDependent, sienaNodeSet, xtable.sienaFit,
       varCovar, varDyadCovar, setEffect, includeEffects, includeInteraction,
       effectsDocumentation, sienaDataConstraint, print.xtable.sienaFit,
       installGui, siena08, iwlsm, sienaTimeTest, includeTimeDummy,
       sienaGOF, descriptives.sienaGOF, sienaRI, sienaRIDynamics, 
	   sparseMatrixExtraction, networkExtraction, behaviorExtraction,
       OutdegreeDistribution, IndegreeDistribution, BehaviorDistribution,
       xtable, algorithms, profileLikelihoods, siena.table,
	   Wald.RSiena, Multipar.RSiena)

import(Matrix)

S3method(print, siena)
S3method(print, sienaGroup)
S3method(print, sienaDependent)
S3method(print, sienaFit)
S3method(print, summary.sienaFit)
S3method(print, sienaAlgorithm)
S3method(summary, sienaFit)
S3method(print, sienaMeta)
S3method(print, summary.sienaMeta)
S3method(summary, sienaMeta)
S3method(plot, sienaMeta)
S3method(predict, iwlsm)
S3method(print, iwlsm)
S3method(print, summary.iwlsm)
S3method(summary, iwlsm)
S3method(iwlsm, formula)
S3method(iwlsm, default)
S3method(se.contrast, iwlsm)
S3method(vcov, iwlsm)
S3method(addAttributes, coCovar)
S3method(addAttributes, varCovar)
S3method(addAttributes, coDyadCovar)
S3method(addAttributes, varDyadCovar)
S3method(print, sienaTimeTest)
S3method(summary, sienaTimeTest)
S3method(print, summary.sienaTimeTest)
S3method(plot, sienaTimeTest)
S3method(print, sienaEffects)
S3method(summary, sienaEffects)
S3method(print, summary.sienaEffects)
S3method(edit, sienaEffects)
S3method(summary, sienaGOF)
S3method(print, sienaGOF)
S3method(plot, sienaGOF)
S3method(summary, sienaRI)
S3method(print, sienaRI)
S3method(plot, sienaRI)
S3method(summary, sienaRIDynamics)
S3method(print, sienaRIDynamics)
S3method(plot, sienaRIDynamics)
S3method(print, chains.data.frame)
S3method(print, sienaBayesFit)
S3method(summary, sienaBayesFit)
S3method(print, summary.sienaBayesFit)
S3method(print, multipleBayesTest)
S3method(plot, multipleBayesTest)